# Build stuff
*build*/
out/

# Cache
.cache/

# Temporary files
tmp/

# Imgui Stuff
imgui.ini

# Vcpkg stuff
vcpkg_installed/

# Visual studio (and code)
.vs/
.vscode/
CMakeSettings.json
